li {
	list-style: none;
}

.todo-list{
	display: flex;
	flex-direction: column;

}
h1{
text-align: center;
color: rgb(64, 64, 120);
}
.add-new{
	width: 95%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-input {
	border: 1px solid rgb(190, 139, 238);
	width: 70%;
	height: 20px;
}
.add {
	width: 25%;
	height: 30px;
	background-color: rgba(130, 130, 243, 0.611);
	border: none;
	font-size: 15px;
	font-weight: 600;
	margin: auto;
}